<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Add a New Software Title</h1><br><br>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="softwareName" class="col-lg-2 control-label">Full Name</label>
                <div class="col-lg-6">
                <input type="text" class="form-control" id="softwareName" ng-model="softwareName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="softwareVersion" class="col-lg-2 control-label">Version Number</label>
                <div class="col-lg-2">
                <input type="text" class="form-control" id="softwareVersion" ng-model="softwareVersion" placeholder="2.0">
                </div>
            </div>
            <div class="form-group">
                <label for="softwareImageURL" class="col-lg-2 control-label">Image URL (jpg, png, gif, etc)</label>
                <div class="col-lg-10">
                <input type="text" class="form-control" id="softwareImageURL" ng-model="softwareImageURL" placeholder="Image URL">
                </div>
            </div>
            <div class="form-group">
                <label for="softwareTags" class="col-lg-2 control-label">Tags (comma seperated)</label>
                <div class="col-lg-10">
                <input type="text" class="form-control" id="softwareTags" ng-model="softwareTags" placeholder="elementary, high school, college, middle school">
                </div>
            </div>
            <div class="form-group">
                <label for="softwareDescription" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                <textarea class="form-control" id="softwareDescription" ng-model="softwareDescription" placeholder="Brief Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                <button type="button" class="btn btn-default" ng-click="addSoftware()">Submit</button>
                </div>
            </div>
        </form>
        <h1 class="text-center">Delete a Software Title</h1>
        <h6 class="text-center">Will delete instantly and permanently. Use caution.</h6>
        <br><br>
        <div class="col-lg-2 delete-thumbnail" ng-repeat="program in data" ng-animate="'animate'">
            <img class="img-thumbnail software-thumb" ng-src="{{ program.meta.image }}">
            <i class="fa fa-trash fa-5x delete-icon" ng-click="removeSoftware(program.meta.fullName)" aria-hidden="true"></i>
      </div>
    </div>
</div>