<div class="row">
   <div class="col-lg-12">
      <h2 class="text-center">Reviewed Software</h2>
      <br>
   </div>
   <div class="row">
      <div class="col-lg-2" ng-repeat="program in data">
         <a ui-sref="software({ softwareName: program.meta.fullName })">
            <img class="img-thumbnail software-thumb" ng-src="{{ program.meta.image }}">
         </a>
      </div>
      <div class="col-lg-2">
         <a ui-sref="add">
            <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
         </a>
      </div>
   </div>
</div>